<h1>商品一覧</h1>
<table>
  <thead>
    <tr>
      <th>商品ID</th>
      <th>商品名</th>
      <th></th>
      <th>税抜価格</th>
      <th>ジャンル</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <td><%= item.name %></td>
        <td><%= attachment_image_tag item, :image, size: "50×50", format: 'jpg' %></td>
        <td><%= item.price.to_s(:delimited) %></td>
        <td><%= item.genre.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
