<div class="container">
  <div class="text-center">
    <h2>商品新規登録</h2>
    </br>
    <%= form_with model:@item, url:admin_items_path, method: :POST, local: true do |f| %>
      <div class="field row">
        <div class="col-3"></div>
        <%= f.label :"商品名", class:"col-2" %>
        <%= f.text_field :name, class:"col-4" %>
      </div>
      </br>
      <div class="field row">
        <div class="col-3"></div>
        <%= f.label :"商品説明", class:"col-2" %>
        <%= f.text_area :introduction, class:"col-4" %>
      </div>
      </br>
      <div class="field row">
        <div class="col-3"></div>
        <%= f.label :"ジャンル", class:"col-2" %>
        <%= f.collection_select :genre_id, @genres, :id, :name, :include_blank => true, class:"col-4" %>
      </div>
      </br>
      <div class="field row">
        <div class="col-3"></div>
        <%= f.label :"税抜価格", class:"col-2" %>
        <%= f.text_field :price, class:"col-2" %> 円
      </div>
      </br>
      <div class="field row">
        <div class="col-3"></div>
        <%= f.label :"商品画像", class:"col-2" %>
        <%= f.attachment_field :image, class:"col-4" %>
      </div>
      </br>
      </br>
      <div class="actions row d-flex justify-content-center">
        <%= f.submit "新規登録", class: "btn btn-dark" %>
      </div>
    <% end %>
  </div>
</div>

