<!--raty.js-->
<script>
  $(document).ready(function(){
    $('#star').raty({
      starOff: "<%= asset_path("star-off.png") %>",
      starOn: "<%= asset_path("star-on.png")  %>",
      number: 5,
      readOnly: true,
    });
  });
</script>

<div class="container">
  <h2>商品詳細</h2>
  </br>
  <div class="row">
    <div class="col-3">
      <%= attachment_image_tag @item, :image, format: 'jpg', size: "300x300" %>
    </div>
    <div class="col-1"></div>
    <div class="col-6">
      <table>
        <tr>
          <th width="35%", valign="top">商品名</th>
          <td width="65%"><%= @item.name %></td>
        </tr>
        <tr>
          <th valign="top">商品説明</th>
          <td><%= @item.introduction %></td>
        </tr>
        <tr>
          <th valign="top">ジャンル</th>
          <td><%= @item.genre.name %></td>
        </tr>
        <tr>
          <th valign="top">税込価格（税抜価格）</th>
          <td>
            ￥<%= @item.price.to_s(:delimited) %>（￥<%= (@item.price * 1.1).floor.to_s(:delimited) %>）
          </td>
          <tr>
        </tr>
      </table>
      </br>
      </br>
      </br>
      <%= link_to "編集する", edit_admin_item_path, class: "btn btn-dark" %>
    </div>
  </div>
  </br>
  </br>
  <div class="row">
    <h3>レビュー一覧 </h3>
    <h6 class="d-flex align-items-end">（<%= @reviews.count %>件のレビュー）</h6>
  </div>
  </br>
  <div class="row">
    <div>平均スコア：　</div>
    <div id='star' data-score="<%= @average_score.round %>"></div>
    <div class="d-flex align-items-end">（<%= @average_score %>）</div>
  </div>
  </br>
  <% @reviews.each do |review| %>
    <div class="row">
      <div>
        <%= review.age_i18n %>｜
        身長：<%= review.height %>cm｜
        体型：<%= review.figure%>
        </br>
        <%= review.comment %>
      </div>
    </div>
    </br>
  <% end %>

</div>
