<div class="container">
  <div class="text-center">
    <h2>管理者ログイン</h2>
    </br>
    <%= form_with model: @admin, url: admin_session_path do |f| %>
      <div class="field">
        <%= f.label :"メールアドレス", class:"col-sm-2" %>
        <%= f.email_field :email, class:"col-sm-3" %>
      </div>
      </br>
      <div class="field">
        <%= f.label :"パスワード", class:"col-sm-2" %>
        <%= f.password_field :password, class:"col-sm-3" %>
      </div>
      </br>
      <div class="actions">
        <%= f.submit "ログイン", class:"btn btn-dark" %>
      </div>
    <% end %>
  </div>
  </br>
  </br>
  </br>
  </br>
  </br>
</div>
