<div class="container">
  </br>
  </br>
  </br>
  </br>
  </br>
  <div class="text-center">

    <h2>管理者ログイン</h2>

    <%= form_with model: @admin, url: admin_session_path do |f| %>
      <div class="field">
        <%= f.label :"メールアドレス" %><br />
        <%= f.email_field :email %>
      </div>
      <div class="field">
        <%= f.label :"パスワード" %><br />
        <%= f.password_field :password %>
      </div>
      </br>
      <div class="actions">
        <%= f.submit "ログイン", class:"btn btn-dark" %>
      </div>
    <% end %>

    <%= render "admin/shared/links" %>
  </div>
  </br>
  </br>
  </br>
  </br>
  </br>
</div>
