<div class="container">
  <h2>
    <%= @customer.last_name  + "　" + @customer.first_name %> さんの会員詳細
  </h2>
  </br>
  <table class="table table-borderless col-6">
    <tr>
      <th width="35%">会員ID</th>
      <td width="65%"><%= @customer.id %></td>
    </tr>
    <tr>
      <th>氏名</th>
      <td><%= @customer.last_name  + "　" + @customer.first_name %></td>
    </tr>
    <tr>
      <th>郵便番号</th>
      <td><%= @customer.postal_code %></td>
    </tr>
    <tr>
      <th>住所</th>
      <td><%= @customer.address %></td>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <td><%= @customer.email %></td>
    </tr>
  </table>
</div>
