<h1>注文履歴詳細</h1>
<div class="container">
  <div class="row">
    <table>
      <tr>
        <th>購入者</th>
        <td><%= @order.name %></td>
      </tr>
      <tr>
        <th>注文日</th>
        <td><%= @order.updated_at.strftime("%Y/%m/%d") %></td>
      </tr>
      <tr>
        <th>配送先</th>
        <td>〒<%= @order.postal_code %><td>
      </tr>
      <tr>
        <th></th>
        <td><%= @order.address %><td>
      </tr>
      <tr>
        <th></th>
        <td><%= @order.name %><td>
      </tr>
      <tr>
        <th>支払方法</th>
        <td><%= @order.payment_method_i18n %></td>
      </tr>
    </table>
  </div>
  </br>
  <div class="row">
    <table class= "col-6">
      <tr>
        <th>商品名</th>
        <th>単価（税込）</th>
        <th>数量</th>
        <th>小計</th>
      </tr>
      <% @order_details.each do |order_detail| %>
        <tr>
          <td>
            <%= attachment_image_tag order_detail.item, :image, format: 'jpg', size: "50x50" %>
            <%= order_detail.item.name %>
          </td>
          <td>
            ￥<%= order_detail.item.with_tax_price.to_s(:delimited) %>
          </td>
          <td>
            <%= order_detail.amount %>
          </td>
          <td>
            ￥<%= (order_detail.item.with_tax_price * order_detail.amount).to_s(:delimited) %>
          </td>
        </tr>
      <% end %>
    </table>
    <div class= "col-2">
    </div>
    <div class= "col-3">
      <table>
        <tr>
          <th>支払金額</th>
          <td>￥<%= (@order.total_payment).to_s(:delimited) %></td>
        </tr>
      </table>
    </div>
  </div>
  </br>
</div>
