<div class="container">
  <h2>注文履歴詳細</h2>
  </br>
  <div class="row">
    <table class="table table-borderless table-sm col-5">
      <tr>
        <th width="40%">購入者</th>
        <td width="60%"><%= @order.name %></td>
      </tr>
      <tr>
        <th>注文日</th>
        <td><%= @order.updated_at.strftime("%Y/%m/%d") %></td>
      </tr>
      <tr>
        <th>配送先</th>
        <td>〒<%= @order.postal_code %><td>
      </tr>
      <tr>
        <th></th>
        <td><%= @order.address %><td>
      </tr>
      <tr>
        <th></th>
        <td><%= @order.name %><td>
      </tr>
      <tr>
        <th>支払方法</th>
        <td><%= @order.payment_method_i18n %></td>
      </tr>
    </table>
  </div>
  </br>
  <div class="row">
    <table class="table table-bordered table-sm col-7">
      <thead class="thead-light">
        <tr>
          <th width="50%">商品名</th>
          <th width="20%">単価（税込）</th>
          <th width="10%">数量</th>
          <th width="20%">小計</th>
        </tr>
      </thead>
      <tbody>
        <% @order_details.each do |order_detail| %>
          <tr>
            <td>
              <%= attachment_image_tag order_detail.item, :image, format: 'jpg', size: "50x50" %>
              <%= order_detail.item.name %>
            </td>
            <td>
              ￥<%= order_detail.item.with_tax_price.to_s(:delimited) %>
            </td>
            <td>
              <%= order_detail.amount %>
            </td>
            <td>
              ￥<%= (order_detail.item.with_tax_price * order_detail.amount).to_s(:delimited) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class= "col-2">
    </div>
    <table class= "table table-borderless col-3 d-flex align-items-end">
      <tr>
        <th>請求金額合計</th>
        <td class="font-weight-bold">￥<%= (@order.total_payment).to_s(:delimited) %></td>
      </tr>
    </table>
  </div>
  </br>
</div>
