<div class="container">
  </br>
  </br>
  </br>
  </br>
  </br>
  <div class="text-center">
    <h2>会員登録</h2>

    <%= form_with model: @customer, url: customer_registration_path do |f| %>

      <div class="field">
        <%= f.label :お名前 %><br />
        <%= f.text_field :last_name, placeholder: "姓" %>
        <%= f.text_field :first_name, placeholder: "名" %>
      </div>

      <div class="field">
        <%= f.label :メールアドレス %><br />
        <%= f.email_field :email %>
      </div>

      <div class="field">
        <%= f.label :郵便番号（ハイフンなし） %><br />
        <%= f.text_field :postal_code %>
      </div>

      <div class="field">
        <%= f.label :住所 %><br />
        <%= f.text_field :address %>
      </div>

      <div class="field">
        <%= f.label :パスワード %>
        <% if @minimum_password_length %>
        (<%= @minimum_password_length %> 文字以上)
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :パスワード（確認用） %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
      </br>
      <div class="actions">
        <%= f.submit "新規登録", class:"btn btn-dark" %>
      </div>
    <% end %>
    </br>
    <div>
      新規登録済の方は
      <%= render "public/shared/links" %>
      からログインをお願いします。
    </div>
  </div>
</div>
