<h1>注文情報確認</h1>

<div class="container">
  <div class="row">
    <div class="col-6">
      <table>
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
          <% @cart_items.each do |cart_item| %>
            <tr>
              <td>
                <%= attachment_image_tag cart_item.item, :image, format: 'jpg', size: "50x50" %>
                <%= cart_item.item.name %>
              </td>
              <td><%= (cart_item.item.with_tax_price).to_s(:delimited) %></td>
              <td><%= cart_item.amount %></td>
              <td><%= (cart_item.subtotal).to_s(:delimited) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-4">
      <table>
        <tr>
          <th>請求金額合計</th>
          <td>￥<%= (@total).to_s(:delimited) %></td>
        </tr>
      </table>
    </div>
  </div>
  </br>
  </br>
  <div class="row">
    <table>
      <tr>
        <th>お届け先</th>
        <td>
          <%= @customer.postal_code %>
          <%= @customer.address %>
        </td>
      </tr>
      <tr>
        <th>支払方法</th>
        <td>
          <%= @order.payment_method_i18n %>
        </td>
      </tr>
    </table>
  </div>
  </br>
  <div class="row">
    <div>
      商品発送について</br>
      商品はマイページに記載の登録済の住所へ発送させていただきます。</br>
      キャンペーン中により送料無料となります。
    </div>
  </div>
</div>