<div class="container">
  </br>
  </br>
  </br>
  </br>
  </br>
  <div class="text-center">
    <h2>ログイン</h2>

    <%= form_with model: @customer, url: customer_session_path do |f| %>
      <div class="field">
        <%= f.label :メールアドレス %><br />
        <%= f.email_field :email %>
      </div>

      <div class="field">
        <%= f.label :パスワード %><br />
        <%= f.password_field :password %>
      </div>

　　  <div class="actions">
        <%= f.submit "ログイン", class:"btn btn-dark" %>
      </div>
    <% end %>
    </br>
    <div>
      会員登録がお済でない方は
      <%= render "public/shared/links" %>
      から会員登録をお願いします。
    </div>
  </div>