<div class="container">
  <h1>search</h1>
  </br>
  <div>
    <%= search_form_for(@search, url:result_items_path, local: true) do |f| %>
      <%= f.hidden_field :type, :value => "category" %>
      <%= f.label "カテゴリー検索" %>
      </br>
      <%= f.collection_select :genre_id, @genres, :id, :name, prompt: "--Category--" %>
      </br>
      </br>
      <%= f.submit "検索", class:"btn btn-outline-dark btn-sm" %>
    <% end %>
  </div>
  </br>
  </br>
  <div>
    <%= form_tag(result_items_path, method: :get, local: true) do %>
      <%= hidden_field_tag "q[type]", "review" %>
      <%= label_tag "レビュー検索" %>
      </br>
      <% options = {} %>
      <% Review.ages.keys.each do |k| %>
      <% options[I18n.t("enums.review.age.#{k}")] = k %>
      <% end %>
      <%= select_tag :age, options_for_select(options, 1), prompt: "-----Age-----" %>
      </br>
      </br>
      <%= submit_tag "検索", class:"btn btn-outline-dark btn-sm" %>
    <% end %>
  </div>
</div>
