<!--raty.js-->
<script>
  $(document).ready(function(){
    $('#star').raty({
      starOff: "<%= asset_path("star-off.png") %>",
      starOn: "<%= asset_path("star-on.png")  %>",
      number: 5,
      readOnly: true,
    });
  });
</script>

<h1>商品詳細</h1>
<div class="container">
  <div class="row">
    <div class="col-5">
      <%= attachment_image_tag @item, :image, format: 'jpg', size: "300x300" %>
    </div>
    <div class="col-5">
      <div><%= @item.name %></div>
      </br>
      <div><%= @item.introduction %></div>
      </br>
      <div>￥<%= (@item.price * 1.1).floor.to_s(:delimited) %></div>
      </br>
      <div>
        <%= form_with model:@cart_item, url:cart_items_path, method: :POST, local: true do |f| %>
          <% if customer_signed_in? %>
            <%= f.hidden_field :customer_id, :value => current_customer.id %>
          <% end %>
          <%= f.hidden_field :item_id, :value => @item.id %>
          <%= f.hidden_field :amount, :value => 1 %>
          <%= f.submit "カートに入れる" %>
        <% end %>
      </div>
      </br>
      お気に入りに追加
    </div>
  </div>
  </br>
  </br>
  <div class="row">
    <h3>レビュー</h3>
    <span>(<%= @reviews.count %>件のレビュー)</span>
  </div>
  <div class="row">
    <% @reviews.each do |review| %>
      <div>
        <div id='star' data-score="<%= review.score %>"></div>
        <%= review.age_i18n %>｜
        身長：<%= review.height %>cm｜
        体型：<%= review.figure%>
        </br>
        <%= review.comment %>
      </div>
    <% end %>
  </div>
</div>